@page "/"
@inject IJSRuntime jsRuntime
@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.Demo.Shared

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="OnClick">New Task!</button>
<br/>
<br />
Output:
<br />
<pre>
    @output
</pre>
@code {
    string output;
    IWorkerBackgroundService<FibonacciService> backgroundService;

    public async Task OnClick(EventArgs _)
    {
        try
        {
            if (backgroundService == null)
            {
                var workerFactory = new BlazorWorker.Core.WorkerProxy(jsRuntime);

                backgroundService = await workerFactory.CreateBackgroundServiceAsync<FibonacciService>();
            }

            output = $"Result = {await backgroundService.RunAsync(s => s.Fibonacci(50))}";
        }
        catch (Exception e)
        {
            output = $"Error = {e}";
        }
    }
}
