@page "/"
@inject IJSRuntime jsRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="OnClick" >New Task!</button>

@code {

    public async Task OnClick(EventArgs _)
    {
        var workerFactory = new BlazorWorker.Core.WebWorkerFactory(jsRuntime);
        
        var worker = await workerFactory.CreateAsync();
        
        //var p = await worker.CreateInstanceAsync<Blazor.WebWorkerProxy>();
    }
}
