@page "/"
@inject IJSRuntime jsRuntime
@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.Demo.Shared
@using BlazorWorker.Core

<h1>Hello, threads!</h1>

Welcome to your new multithreaded app.

<br/>
<input type="text" @bind="piIterations" placeholder="pi length" />
<button @onclick="OnClick">Estimate pi in a new thread</button>
<br/>
<progress max="@piIterations" value="@piProgress" />
<br />
<br />
Output:
<br />
<pre>
@output
</pre>
@code {
    int piIterations = 5_000_000;
    int piProgress = 0;
    string output;
    IWorkerBackgroundService<MathsService> backgroundService;

    public async Task OnClick(EventArgs _)
    {
        output = "";
        var rn = Environment.NewLine;
        try
        {
            if (backgroundService == null)
            {
                output = $"{rn}{LogDate()} Creating background service...";
                StateHasChanged();
                var workerFactory = new BlazorWorker.Core.WorkerProxy(jsRuntime);

                backgroundService = await workerFactory.CreateBackgroundServiceAsync<MathsService>(
                    new WorkerInitOptions()
                    {
                        DependentAssemblyFilenames = new[] { "BlazorWorker.Demo.Shared.dll" }
                    });

                await backgroundService.RegisterEventListenerAsync(nameof(MathsService.Pi),
                    (object s, int pinum) =>
                    {
                        piProgress = pinum;
                        StateHasChanged();
                    });

                StateHasChanged();
                output += $"{rn}{LogDate()} Background service created.";
            }

            var f = piIterations;

            output += $"{rn}{LogDate()} Calling EstimatePI({piIterations})...";
            var __ = backgroundService.RunAsync(s => s.EstimatePI(f)).ContinueWith(t =>
            {
                output += $"{rn}{LogDate()} EstimatePI({piIterations}) = {t.Result}";
                StateHasChanged();
            });

            //output += $"{rn}{DateTime.Now} Fib({fiboNumber}) = {await backgroundService.RunAsync(s => s.Fibonacci(f))}";
        }
        catch (Exception e)
        {
            output = $"{rn}Error = {e}";
        }
    }

    private string LogDate() {
        return DateTime.Now.ToString("HH:mm:ss:fff");
    }    
}
