@using System.Net.Http
@inject HttpClient Http
@inject IJSRuntime JsRuntime
Source for this page<br/>
<a href=@FullUrl>@RelativePath</a>
<br />
<pre><code class="hljs cshtml">
@Code
</code></pre>
@code {
    private const string Root = "https://raw.githubusercontent.com/Tewr/BlazorWorker/master/src/BlazorWorker.Demo/Client/";

    [Parameter]
    public string RelativePath { get; set; }

    public string FullUrl { get; set; }

    public string Code { get; set; } = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        FullUrl = $"{Root}{RelativePath}";
        try
        {
            Code = await Http.GetStringAsync(FullUrl);
            this.StateHasChanged();
            await JsRuntime.InvokeVoidAsync("highLight");
        }
        catch (Exception)
        {
            Code = "Failed to load " + RelativePath;
        }

        await base.OnInitializedAsync();
    }
}
